.vscode/launch.json
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.ipynb_checkpoints/JupeterTEST-checkpoint.ipynb
__pycache__/zoo.cpython-37.pyc
DecisionTree/.ipynb_checkpoints/Untitled-checkpoint.ipynb
